// * * binded style variables * *
// --options-height --> dynamic options menu height
// --option-height --> dynamic single option item height
// --dropdown-width --> dynamic dropdown & options drawer width

// * * * Variables * * *
$default-border-radius: 2px;
$default-text-hover-color:var(--blue-grey-lighter);
$default-hover-color: #4d7fad;
$default-text-color:var(--blue-grey-light);
$option-padding: 4px 10px;

.dropdown {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: var(--dropdown-width);
  width: 120px;
  //position: relative;
  border: 1px solid transparent;
  border-radius: var(--main-el-border-radius);
  cursor: pointer;
  color: var(--dropdown-default-text-color);
  background: var(--dropdown-background-color);
  background-image: linear-gradient(#2a4e74 60%, #427cb9);
  color:var(--blue-grey-light);
  //top: 13px;
  user-select: none;
  transition: all 0.7s linear;
  .dropdown-label-container {
    display: flex;
    width: 100%;
    .dropdown-label {
      display: flex;
      justify-content: space-between;
      flex: 1 1 auto;
      align-items: center;
      height: var(--option-height);
      padding: $option-padding;
      .text {
        font-family: 'Play', sans-serif;
        font-size: 1.1em;
      }
      .angle-down {
        display: flex;
        justify-content: center;
        align-items: center;
        border: solid $default-text-color;
        background: transparent;
        border-width: 0 2px 2px 0;
        padding: 4px;
        width: 1px;
        height: 1px;
        margin: -3px 5px 0 0;
        border-color: var(--dropdown-default-text-color);
        transform: rotate(45deg);
        transition: all 0.7s;
        color:var(--blue-grey-light);
      }
      .toggled {
        margin-bottom: -12px;
        transform: rotate(-135deg);
        transition: all 0.7s;
      }
    }
  }

  .options {
    width: 100%;
    .option {
      display: flex;
      align-items: center;
      padding: $option-padding;
      height: 35px;
      font-family: 'Play', sans-serif;
      font-size: 1.1em;

      border-bottom: solid 1px var(--blue-grey-dark);
      border-top: solid 1px var(--blue-grey);
      padding: 10px;
      text-shadow: 0 1px 2px rgba(0,0,0,0.2);
    }
    .option:hover {
      color: $default-text-hover-color;
      background: $default-hover-color;
      transition: all 0.7s;
    }
    .option:last-child {
      border-radius: 0 0 var(--main-el-border-radius)
        var(--main-el-border-radius);
    }
    .option:last-child:hover {
      border-radius: 0 0 var(--main-el-border-radius)
        var(--main-el-border-radius);
    }
  }
}
.dropdown.expanded {
  //background: var(--dropdown-expanded-color);
  border: var(--dropdown-border);
  box-shadow: 2px 2px 3px rgba(0,0,0,0.35);
  transition: all 0.7s linear;
}

// Expand Class - Most important part
.expand {
  overflow: hidden;
  transition-property: height;
  transition-duration: 0.4s; // Durations can be changed without touching JS
  transition-timing-function: cubic-bezier(
    0.175,
    0.885,
    0.32,
    1.275
  ); // Timing functions also!

  &[aria-expanded="false"] {
    height: 0 !important;
    transition-timing-function: cubic-bezier(
      0.6,
      -0.28,
      0.735,
      0.045
    ); // Timing function can be different for each direction
  }
}

// Smartphones - Landscape + Portrait
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
}
