:root {
/*   --blue-grey-darkest: #6d7a88;
  --blue-grey-darker: #8a9cad;
  --blue-grey-dark: #a5b1be;
  --blue-grey: #c7d4e0;
  --blue-grey-light: #bad1e7;
  --blue-grey-lighter: #d1e9ff; */

  --blue-grey-darkest: #1e242b;
  --blue-grey-darker: #2a3846;
  --blue-grey-dark: #4b6077;
  --blue-grey: #6d869d;
  --blue-grey-light: #70baff;
  --blue-grey-lighter: #a5d2fd;


  --blue: #003e81;

  /* --yellow: #ffc600; */
  /* --blue: #259de2; */
  --blue-darkest: #2c3e50;
  --black: #272727;
  --orange: #ffb515;
  --yellow: #e2b625;
  --blue-dark: #13608d;
  --red: #e03030;
  --red-dark: #a12424;
  --red-light: #ff5151;
  --green: #309209;
  --green-light: #46d10f;
}

html {
  
  /* border-box box model allows us to add padding and border to our elements without increasing their size */
  box-sizing: border-box;
  /* A system font stack so things load nice and quick! */
  font-family: 'Londrina Solid', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* font-weight: 900; */
  /* font-size: 10px; */
  color: var(--black);
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
  scroll-behavior: smooth;
  /* background-color: #259de2; */
  /* overflow: hidden;  */
}

/*
  WAT IS THIS?!
  We inherit box-sizing: border-box; from our <html> selector
  Apparently this is a bit better than applying box-sizing: border-box; directly to the * selector
*/
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  /* background-image: url("../images/ContourLine.svg"),
                    linear-gradient(210deg, var(--orange), #1247f7);
  background-size: 340px, auto;
  /* min-height: calc(100vh - 100px); */
  /*margin: 50px;
  background-attachment: fixed;
  letter-spacing: -1px; */
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 5px 0;
}

h1 {
  font-size: 24px;
}


.popular__content,
.genre__content,
.album__content {
    display: grid;
    align-items: end;
    align-content: end;
    background: linear-gradient(225deg, #7497b8, var(--blue-grey-lighter));
    text-align: left;
    border: 1px solid var(--blue-grey-dark);
    border-radius: .2em;
    box-shadow: 0px 0px 7px #5f7c97;
    /* cursor: pointer; */
  }

  .popular__content:hover,
  .genre__content:hover,
  .album__content:hover {
    border: 2px solid #8cb0cf;
    box-shadow: 0px 0px 7px #2b3742;
  }

  .genre__title {
    grid-area: 1 / 1 / 2 / 11;
  }

  .genre__content > h3 {
    font-size: 1em;
  }

  .genre__content {
    padding: .1em .5em 0 .5em;
    cursor: pointer;
    box-shadow: 1px 1px 1px #a3c4ea;
  }

  .genre__content:hover {
    border: 1px solid var(--blue-grey-lighter);
    color: #161e25;
  }

  .upload__heading {
    background: radial-gradient(transparent 5%, #444) calc(50% - .125em) 30% content-box, linear-gradient(#bbb, #bbb) content-box, linear-gradient(-90deg, #d0d3d5, #d2d5d7) border-box;
    color: var(--blue-grey-darker);
  }

